[submodule "smg-utility"]
	path = smg-utility
	url = git@bitbucket.org:sgolodetz/smg-utility.git
[submodule "smg-pyopencv"]
	path = smg-pyopencv
	url = git@bitbucket.org:sgolodetz/smg-pyopencv.git
[submodule "smg-pyorbslam2"]
	path = smg-pyorbslam2
	url = git@bitbucket.org:sgolodetz/smg-pyorbslam2.git
[submodule "smg-pyremode"]
	path = smg-pyremode
	url = git@bitbucket.org:sgolodetz/smg-pyremode.git
[submodule "smg-rotory"]
	path = smg-rotory
	url = git@bitbucket.org:sgolodetz/smg-rotory.git
[submodule "smg-openni"]
	path = smg-openni
	url = git@bitbucket.org:sgolodetz/smg-openni.git
[submodule "smg-open3d"]
	path = smg-open3d
	url = git@bitbucket.org:sgolodetz/smg-open3d.git
[submodule "smg-pyoctomap"]
	path = smg-pyoctomap
	url = git@bitbucket.org:sgolodetz/smg-pyoctomap.git
[submodule "smg-imagesources"]
	path = smg-imagesources
	url = git@bitbucket.org:sgolodetz/smg-imagesources.git
[submodule "smg-mapping"]
	path = smg-mapping
	url = git@bitbucket.org:sgolodetz/smg-mapping.git
[submodule "smg-rigging"]
	path = smg-rigging
	url = git@bitbucket.org:sgolodetz/smg-rigging.git
[submodule "smg-pyorbslam3"]
	path = smg-pyorbslam3
	url = git@bitbucket.org:sgolodetz/smg-pyorbslam3.git
[submodule "smg-relocalisation"]
	path = smg-relocalisation
	url = git@bitbucket.org:sgolodetz/smg-relocalisation.git
[submodule "smg-opengl"]
	path = smg-opengl
	url = git@bitbucket.org:sgolodetz/smg-opengl.git
[submodule "smg-mvdepthnet"]
	path = smg-mvdepthnet
	url = git@bitbucket.org:sgolodetz/smg-mvdepthnet.git
